* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    border: 0.1px;
    outline: none;
}

ol {
    margin-top: 2px;
}

body {
    background-color: rgba(114, 114, 114, 0.514);
}

div {
    text-align: center;
}

span#obs {
    font-size: 15px;
}

#content {
    margin-top: 10px;
    background-color: rgba(179, 176, 176, 0.432);
    max-width: 500px;
    padding: 30px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.295);
}

#content h2 {
    font-size: 20px;
}

button {
    margin-top: 5px;
    padding: 12px;
    cursor: pointer;
    transition: background-color 0.5s;
}

button:hover {
    background-color: rgb(192, 192, 192);
}

#numeros {
    display: none;
    margin-top: 10px;
    background-color: rgba(179, 176, 176, 0.432);
    max-width: 500px;
    padding: 30px;
    font-size: 14px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.295);
}

#numeros input {
    width: 200px;
    padding: 5px;
    margin-top: 5px;
}

#nSorteado {
    margin-top: 5px;
    display: none;
}

#pessoas {
    display: none;
    margin-top: 10px;
    background-color: rgba(179, 176, 176, 0.432);
    max-width: 500px;
    padding: 30px;
    font-size: 14px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.295);
}

#pessoas input {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
}

#pessoas button {
    padding: 13px; 
}

#pSorteado {
    margin-top: 5px;
    display: none;
}
